html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.react-calendar {
  font-family: "Source Sans Pro", serif !important;
  margin-top: 2px;
  margin-bottom: 1px;
}


